{% extends 'baseDash.html.twig' %}

{% block title %}Invoice index{% endblock %}

{% block body %}
<div class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5 dark:bg-gray-800 dark:border-gray-700">
    <div class="w-full mb-1">
        <div class="mb-4">
            <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white py-3 px-2">Invoice index</h1>
            <div class="items-center justify-between block sm:flex md:divide-x md:divide-gray-100 dark:divide-gray-700">
                <button type="submit" class="inline-flex items-center px-5 text-light-white py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center bg-black bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                    <a href="{{ path('app_invoice_new') }}">Create new</a>
                </button>
            </div>
            {% embed '_composants/tables/_table.html.twig' %}
            {% block thead %}
                <th class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase">Id</th>
                <th class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase">Client</th>
                <th class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase">Type</th>
                <th class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase">Total</th>
                <th class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase">Date limite</th>
                <th class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase">Status</th>
            {% endblock %}
            {% block tbody %}
            {% set todayDate = "now"|date('Y-m-d') %}
            {% for invoice in invoices %}
                <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200" >{{ invoice.id }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200" >{{ invoice.customer.getFullname() }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200" >{{ invoice.type }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200" >{{ invoice.total }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200" >{{ invoice.closingDate ? invoice.closingDate|date('Y-m-d') : '' }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200" >
                    {% if invoice.status == 'Validé' or invoice.status == 'Payée' %}
                            <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">{{ invoice.status }}</span>
                    {% elseif invoice.closingDate|date('Y-m-d') < todayDate %}
                            <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">En retard</span>
                    {% elseif invoice.status == 'À valider' or invoice.status == 'À payer' %}
                             <span class="bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-yellow-900 dark:text-yellow-300">{{ invoice.status}}</span>
                    {% elseif invoice.status == 'Annulé(e)' %}
                            <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">{{ invoice.status }} </span>
                    {% endif %}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">
                        <a class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="{{ path('app_prestation_show', {'id': invoice.id}) }}">Show</a>
                        {% if invoice.status == 'À valider' or invoice.status == 'À payer' %}
                            <a class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="{{ path('app_prestation_edit', {'id': invoice.id}) }}">Edit</a>
                            <form method="post" action="{{ path('app_invoice_delete', {'id': invoice.id}) }}" onsubmit="return confirm('Are you sure you want to cancel this item?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ invoice.id) }}">
                                <button class="btn inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-red-600 hover:text-red-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">Cancel</button>
                            </form>
                        {% endif %}
                    </td>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}   
            {% endblock tbody %}
    {% endembed  %}
        </div>
    </div>
</div>
{% endblock %}
