{% extends 'reset_password/base.html.twig' %}

{% block title %}Réinitialisation du mot de passe | Facturo{% endblock %}

{% block containerTitle %}Mot de passe oublié{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_start(requestForm, {
        'attr': {
            'novalidate': 'novalidate',
            'class': 'mt-8 flex flex-col gap-8'
        }
    }) }}
        {{ form_row(requestForm.email) }}
        {{ form_rest(requestForm) }}
        <button class="w-full flex justify-center items-center gap-1.5 rounded bg-light-dark text-light-white dark:bg-light-dark font-bold h-12">
            Réinitialiser mon mot de passe
        </button>

    {{ form_end(requestForm) }}
{% endblock %}
