  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        {{ form_start(form) }}
        <div>
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <div class="sm:col-span-2">
                    {{form_row(form.fullname)}}
                </div>
                <div class="w-full">
                    {{form_row(form.email)}}
                </div>
                <div class="w-full">
                    {{form_row(form.number)}}
                </div>
                <div>
                    {{form_row(form.siret)}}
                </div>
                {# <div class="sm:col-span-2">
                    {{form_row(form.company)}}
                </div> #}
            </div>
            <button type="submit" class="inline-flex items-center px-5 text-light-white py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center bg-black bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                {{ button_label|default('Sauvegarder') }}
            </button>
        </div>
        {{ form_end(form) }}
    </div>
</section>
