{% extends 'dashboard/base.html.twig' %}
{% block title %}Clients{% endblock %}

{% block body %}
{% embed '_composants/tables/_table.html.twig' %}
    {% block tTitle %}Tous les clients  {% endblock %}
    {% block pathNew %}{{ path('app_customer_new') }}{% endblock %}
    {% block thead %}
                <th class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Id</th>
                <th class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Fullname</th>
                <th class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Email</th>
                <th class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Number</th>
                <th class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Siret</th>
    {% endblock %}
    {% block tbody %}
        {% for customer in customers %}
            <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200" >{{ customer.id }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200" >{{ customer.fullname }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200" >{{ customer.email }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200" >{{ customer.number }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200" >{{ customer.siret }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200" >
                    <a class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="{{ path('app_customer_show', {'id': customer.id}) }}">Afficher</a>
                    <a class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="{{ path('app_customer_edit', {'id': customer.id}) }}">Modifier</a>
                    <form method="post" action="{{ path('app_customer_delete', {'id': customer.id}) }}" onsubmit="return confirm('Voulez-vous supprimer ce client ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer.id) }}">
                        <button class="btn inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-red-600 hover:text-red-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                            Supprimer
                        </button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucunes données disponible</td>
            </tr>
        {% endfor %}
    {% endblock %}
{% endembed %}
{% endblock %}
