{% extends 'dashboard/index.html.twig' %}

    {% block title %}Informations Client{% endblock %}

{% block body %}
        <div class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5 dark:bg-gray-800 dark:border-gray-700">
            <div class="w-full mb-1">
                <div class="mb-4">
                    <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white py-3 px-2">Information Client n° {{  customer.id }}</h1>
                    <div class="items-center justify-between block sm:flex md:divide-x md:divide-gray-100 dark:divide-gray-700">
                        <button type="submit" class="inline-flex items-center px-5 text-light-white py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center bg-black text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                            <a href="{{ path('app_customer_index') }}">Retour à la liste</a>
                        </button>
                        <button type="submit" class="inline-flex items-center px-5 text-light-white py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center bg-black text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                            <a href="{{ path('app_customer_edit', {'id': customer.id}) }}">Modifier </a>
                        </button>
                        <form method="post" action="{{ path('app_customer_delete', {'id': customer.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer.id) }}">
                            <button class="btn bg-red-700 hover:bg-red-800 text-white font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none   focus:ring-4 focus:ring-red-300  dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Delete</button>
                        </form>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="flex flex-wrap" id="tabs-id">
                        <div class="w-full">
                            <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
                                <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                                    <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-white bg-pink-600" onclick="changeAtiveTab(event,'tab-profile')">
                                        <i class="fas fa-space-shuttle text-base mr-1"></i>  Information cliente
                                    </a>
                                </li>
                                <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                                    <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal text-pink-600 bg-white" onclick="changeAtiveTab(event,'tab-settings')">
                                        <i class="fas fa-cog text-base mr-1"></i>  Factures/ Devis
                                    </a>
                                </li>
                            </ul>
                            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
                                <div class="px-4 py-5 flex-auto">
                                    <div class="tab-content tab-space">
                                        <div class="block" id="tab-profile">
                                            <div class="grid grid-cols-2 gap-4">
                                                <div class="text-gray-700 dark:text-gray-700 p-4 ">Nom Complet</div>
                                                <div class=" p-4  text-gray-700 dark:text-gray-700">{{ customer.fullname }}</div>
                                            </div>
                                            <div class="grid grid-cols-2 gap-4">
                                                <div class="text-gray-700 dark:text-gray-700 p-4 ">Email</div>
                                                <div class=" p-4  text-gray-700 dark:text-gray-700">{{ customer.email }}</div>
                                            </div>
                                            <div class="grid grid-cols-2 gap-4">
                                                <div class="text-gray-700 dark:text-gray-700 p-4 ">TVA</div>
                                                <div class=" p-4  text-gray-700 dark:text-gray-700">{{ customer.tva }}%</div>
                                            </div>
                                            <div class="grid grid-cols-2 gap-4">
                                                <div class="text-gray-700 dark:text-gray-700 p-4 ">SIRET</div>
                                                <div class=" p-4  text-gray-700 dark:text-gray-700">{{ customer.siret }}</div>
                                            </div>
                                            <div class="grid grid-cols-2 gap-4">
                                                <div class="text-gray-700 dark:text-gray-700 p-4 ">Numéro de téléphone</div>
                                                <div class=" p-4  text-gray-700 dark:text-gray-700">{{ customer.number }}</div>
                                            </div>
                                        </div>
                                        <div class="hidden" id="tab-settings">
                                            {% if customer.invoices|length > 0 %}
                                                <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                                                    <thead>
                                                    <tr>
                                                        <th class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Id</th>
                                                        <th class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Created At</th>
                                                        <th class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Total</th>
                                                        <th class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Type</th>
                                                        <th class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Status</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                                                    {% for invoice in customer.invoices %}
                                                        <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
                                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">{{ invoice.id }}</td>
                                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">{{ invoice.createdAt|date('Y-m-d H:i:s') }}</td>
                                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">{{ invoice.total }}€</td>
                                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">{{ invoice.type }}</td>
                                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">
                                                                {% if invoice.status == '1' %}
                                                                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800 dark:bg-green-700 dark:text-green-100">
                                                                        Paid
                                                                    </span>
                                                                {% else %}
                                                                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800 dark:bg-red-700 dark:text-red-100">
                                                                        Unpaid
                                                                    </span>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                                <div class="relative overflow-hidden bg-white rounded-b-lg shadow-md dark:bg-gray-800">
                                                    <nav class="flex flex-row items-center justify-between p-4"
                                                         aria-label="Table navigation">
                                                        <button type="button" class="flex items-center justify-center px-4 py-2 text-sm font-medium text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                                                            View full report
                                                        </button>
                                                {% set totalOfTotals = customer.invoices|reduce((carry, invoice) => carry + invoice.total, 0) %}
                                                        <p class="text-sm">
                                                            <span class="font-normal text-gray-500 dark:text-gray-400">Total TTC: </span>
                                                            <span class="font-semibold text-gray-900 dark:text-white">{{ totalOfTotals }}€</span>
                                                        </p>
                                                    </nav>
                                                </div>
                                                {# set totalOfPrices = customer.invoices|reduce((carry, invoice) => carry + invoice.price, 0) #}

                                                <p></p>
                                                {# <p>Total HT: {{ totalOfPrices }}</p> #}
                                            {% else %}
                                                <p>No invoices found for this customer.</p>
                                            {% endif %}
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            function changeAtiveTab(event,tabID){
                let element = event.target;
                while(element.nodeName !== "A"){
                    element = element.parentNode;
                }
                ulElement = element.parentNode.parentNode;
                aElements = ulElement.querySelectorAll("li > a");
                tabContents = document.getElementById("tabs-id").querySelectorAll(".tab-content > div");
                for(let i = 0 ; i < aElements.length; i++){
                    aElements[i].classList.remove("text-white");
                    aElements[i].classList.remove("bg-pink-600");
                    aElements[i].classList.add("text-pink-600");
                    aElements[i].classList.add("bg-white");
                    tabContents[i].classList.add("hidden");
                    tabContents[i].classList.remove("block");
                }
                element.classList.remove("text-pink-600");
                element.classList.remove("bg-white");
                element.classList.add("text-white");
                element.classList.add("bg-pink-600");
                document.getElementById(tabID).classList.remove("hidden");
                document.getElementById(tabID).classList.add("block");
            }
        </script>


    {% endblock %}
