{% extends 'dashboard/base.html.twig' %}

{% block title %}Prestation {% endblock %}

{% block body %}
    {%  embed '_composants/tables/_table.html.twig' %}
    {% block tTitle %}Prestation  {% endblock %}
    {% block pathNew %}{{ path('app_prestation_new') }}{% endblock %}
                        {% block thead %}
                            <th class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Id</th>
                            <th class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Name</th>
                            <th class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Price</th>
                            <th class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Description</th>
                            <th class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Unite</th>
                            <th class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Tva</th>
                            <th class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Archiver</th>

                    {% endblock %}
                        {% block tbody %}
                        {% for prestation in prestations %}
                            <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200" >{{ prestation.id }}</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200" >{{ prestation.name }}</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200" >{{ prestation.price }}</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200" >{{ prestation.description }}</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200" >{{ prestation.unite }}</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200" >{{ prestation.tva }}</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200" >
                                {%  if prestation.archive == true %}
                                    <span class="bg-pink-100 text-pink-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-pink-900 dark:text-pink-300"> Archiver </span>
                                {% else %}
                                    <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">N/A</span>
                                {% endif %}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200" >
                                   <!-- <a class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="{{ path('app_prestation_show', {'id': prestation.id}) }}">Afficher</a>-->
                                    <a class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="{{ path('app_prestation_edit', {'id': prestation.id}) }}">Editer</a>
                                    <form method="post" action="{{ path('app_prestation_delete', {'id': prestation.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette prestation ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prestation.id) }}">
                                        <button class="btn inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-red-600 hover:text-red-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">Supprimer</button>
                                    </form>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                        {% endfor %}
                    {% endblock %}
                    {% endembed %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}
