{% extends 'base.html.twig' %} {% block title %}Facturo{% endblock %} {% block
body %} {% include '_composants/headers/_header.html.twig' %}
<main>
  <article
    class="flex flex-col items-center xl:items-start xl:justify-between my-16 xl:flex-row xl:m-20 text-light-dark"
  >
    {# TEXT #}
    <section
      class="flex flex-col items-center gap-4 xl:gap-12 w-109 xl:items-start"
    >
      <h1 class="xl:text-4xl font-bold leading-normal xl:w-105 xl:h-20">
        Vous avez des questions ? Nous sommes à votre écoute
      </h1>
      <p
        class="text-sm xl:text-2xl font-medium leading-normal mb-7 xl:w-110 xl:h-28"
      >
        Nous répondons à toutes vos questions sur notre solutions. Laissez-nous
        vos coordonnées, nous répondons dès que possible du lundi au vendredi de
        10h à 19h.
      </p>
      {% include "_composants/customer_service/_account.html.twig" %} {% include
      "_composants/customer_service/_invoice.html.twig" %} {% include
      "_composants/customer_service/_services.html.twig" %}
    </section>
    {# FORM #}

    <section
      class="flex flex-col rounded gap-x border border-solid border-light-dark shadow-custom-white bg-white py-1.875 px-2.125 w-102 m-9 xl:m-0"
    >
      {{ form_start(form) }}
      <div class="flex gap-5">
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
      </div>
      <div class="flex gap-5">
        {{ form_row(form.email) }}
        {{ form_row(form.phone) }}
      </div>
      <div class="flex gap-5">
        {{ form_row(form.society_name) }}
        {{ form_row(form.society_size) }}
      </div>
      <div class="flex gap-5">
      </div>
        {{ form_row(form.subject) }}
        {{ form_row(form.message) }}
      <p class="text-xs font-bold leading-normal">
        Nos équipes vous répondront dans un délais de 1 à 4 jours ouvrés. Toutes
        vos demandes sont traitées et une réponse vous sera toujours apportée.
        Veillez à ne pas dupliquer vos demandes.
      </p>
      {{ form_row(form.envoyer) }}
      {{ form_end(form) }}
    </section>
  </article>
</main>
{% include '_composants/footers/_footer.html.twig' %} {% endblock %}
