{% extends 'dashboard/base.html.twig' %} {% block title %}Modifier Contact{%
endblock %} {% block body %}
<div
  class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5 dark:bg-gray-800 dark:border-gray-700"
>
  <div class="w-full mb-1">
    <div class="mb-4">
      <h1
        class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white py-3 px-2"
      >
        Mail pour (Mr/Mme) {{ contact.lastname }}
      </h1>
      <div
        class="items-center justify-between block sm:flex md:divide-x md:divide-gray-100 dark:divide-gray-700 pb-4"
      >
        <button
          type="submit"
          class="inline-flex items-center px-5 text-light-white py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center bg-black bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800"
        >
          <a href="{{ path('app_contact_index') }}">Retour à la liste</a>
        </button>
        <form
          method="post"
          action="{{ path('app_contact_delete', { id: contact.id }) }}"
          onsubmit="return confirm('Voulez-vous supprimer ce message ?');"
        >
          <input
            type="hidden"
            name="_token"
            value="{{ csrf_token('delete' ~ contact.id) }}"
          />
          <button
            class="btn bg-red-700 hover:bg-red-800 text-white font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none focus:ring-4 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
          >
            Supprimer
          </button>
        </form>
      </div>
      <div class="p-4">
        <label
          for="contact_id"
          class="pt-5 block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Message Client</label
        >
        <textarea
          readonly
          disabled
          cols="5"
          class="bg-gray-50 mb-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
          >{{ contact.message }}</textarea
        >
      </div>
      <h1
        class="text-xl font-semibold text-gray-900 sm:text-2xl py-4 dark:text-white"
      >
        Répondre
      </h1>

      <label
        for="contact_id"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >à</label
      >
      <input
        disabled
        value="{{ contact.email }}"
        class="bg-gray-50 mb-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
      />

{% block body %}
    <div class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5 dark:bg-gray-800 dark:border-gray-700">
        <div class="w-full mb-1">
            <div class="mb-4">
                <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white py-3 px-2">Mail pour (Mr/Mme) {{ contact.lastname }}</h1>
                <div class="items-center justify-between block sm:flex md:divide-x md:divide-gray-100 dark:divide-gray-700 pb-4">
                    <button type="submit" class="inline-flex items-center px-5 text-light-white py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center bg-black bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                        <a href="{{ path('app_contact_index') }}">Retour à la liste</a>
                    </button>
                    <form method="post" action="{{ path('app_contact_delete', {'id': contact.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
                        <button class="btn bg-red-700 hover:bg-red-800 text-white font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none   focus:ring-4 focus:ring-red-300  dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                            Supprimer
                        </button>
                    </form>
                </div>
                <div class="p-4">
                    <label for="contact_id" class=" pt-5 block mb-2 text-sm font-medium text-gray-900 dark:text-white">Message Client</label>
                    <textarea readonly disabled cols="5"  class="bg-gray-50 mb-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">{{ contact.message }}</textarea>
                </div>
                <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl py-4 dark:text-white">Répondre</h1>

                <label for="contact_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">à</label>
                <input disabled value="{{ contact.email }}" class="bg-gray-50 mb-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">

                {{ include('contact/_form.html.twig', {'button_label': 'Répondre'}) }}
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
