{% extends 'base.html.twig' %}

{% block title %}Company index{% endblock %}

{% block body %}
    <h1>Company index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Logo</th>
                <th>TVA</th>
                <th>License_validity</th>
                <th>Id_license</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.id }}</td>
                <td>{{ company.name }}</td>
                <td>{{ company.logo }}</td>
                <td>{{ company.TVA }}</td>
                <td>{{ company.licenseValidity ? company.licenseValidity|date('Y-m-d') : '' }}</td>
                <td>{{ company.idLicense }}</td>
                <td>
                    <a href="{{ path('app_company_show', {'id': company.id}) }}">show</a>
                    <a href="{{ path('app_company_edit', {'id': company.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_company_new') }}">Create new</a>
{% endblock %}
