<style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

    * {
        font-family: 'Arial', sans-serif;'
    }

    .specific-font {
        font-family: 'Raleway', sans-serif !important;
    }
</style>

<body style="margin: 0;background-color: #1c1c1a;">
<div>
    <div>
        <div>
            <div style="background:#f9f9f7;margin:0;padding:0">
                <table style="background:#f9f9f7;min-width:320px;width: 100%">
                    <tbody>
                    <tr>
                        <td style="padding:0 24px">
                            <table style="max-width:600px;margin:0 auto;">
                                <tbody>
                                <!-- START Header -->
                                <!-- END Header -->

                                <!-- START Content -->
                                <tr style="margin-bottom: 30px;">
                                    <td style="background:#fff;padding:44px 64px 57px;border:1px solid #dcdcd9;border-radius:8px">
                                        <table style="max-width:472px;margin:0 auto;text-align: center">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                                <h1 style="font-weight:400;color:#1d1d1b;font-size:24px;margin-bottom:20px">
                                                                    {{ subject }}
                                                                </h1>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding:0 0 32px 0">
                                                                <p style="font-weight:400;color:#70706d;font-size: 14px">
                                                                    Mme, M. {{ firstname }} {{ lastname }},<br>
                                                                    Nom de l'entreprise : {{ companyName }}<br>
                                                                    Taille de l'entreprise : {{ companySize }}<br>
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="padding:0 0 5px;font-size: 32px;color:#1d1d1b;letter-spacing:7px;padding:32px 0 6px 0">
                                                                {{ message }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding:0 0 37px;font-size: 12px;color:#70706d; text-align: center">
                                                                Sont joingables par téléphone au <span style="color: #2222d9;">{{ phoneNumber }}</span> ou par mail à <span style="color: #2222d9;">{{ userEmail }}</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <p style="font-weight:400;font-size:14px;color:#70706d;padding-top:32px">
                                                                    À bientôt,<br>L’équipe <span>Facturo</span>
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <!-- END Content -->


                                <!-- START Footer -->
                                <tr>
                                    <td>
                                        <table style="margin:0 auto;padding:0 0 60px">
                                            <tbody>
                                            <tr>
                                                <td style="padding:0 0 33px;font-size:12px;color:#70706d;text-align: center">
                                                    <span class="specific-font">En cas de problème, n'hésitez pas à joindre l'équipe de Facturo</span>
                                                    <span>&nbsp;•&nbsp;</span>
                                                    <a href="https://facturo.fr/" target="_blank" class="specific-font" style="text-decoration: underline;color: #2222d9;">Accueil du site</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size:12px;color:#70706d;text-align: center">
                                                                <span style="color:#70706d" class="specific-font">
                                                                    <span class="specific-font">Facturo</span>
                                                                    (SA au capital social de 4.000.000.000€)
                                                                </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size:12px;color:#70706d;text-align: center">
                                                    <span class="specific-font">&nbsp;242 Rue du Faubourg Saint-Antoine, 75012 Paris, FRANCE</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <!-- END Footer -->
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>