<style>
  @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
      * {
        font-family: 'Arial', sans-serif;
    }

    .specific-font {
        font-family: 'Raleway', sans-serif !important;
    }
</style>

<body style="margin: 0;background-color: #1c1c1a;">
<div>
    <div>
        <div>
            <div style="background:#f9f9f7;margin:0;padding:0">
                <table style="background:#f9f9f7;min-width:320px;width: 100%">
                    <tbody>
                    <tr>
                        <td style="padding:0 24px">
                            <table style="max-width:600px;margin:0 auto;">
                                <tbody>
                                <!-- START Header -->
                                <!-- END Header -->

                                <!-- START Content -->
                                <tr style="margin-bottom: 30px;">
                                    <td style="background:#fff;padding:44px 64px 57px;border:1px solid #dcdcd9;border-radius:8px">
                                        <table style="max-width:472px;margin:0 auto;text-align: center">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                                <h1 style="font-weight:400;color:#1d1d1b;font-size:24px;margin-bottom:20px">
                                                                    Votre {{ invoice.type == "Devis" ? "nouveau devis" : "nouvelle facture" }}
                                                                </h1>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding:0 0 32px 0;text-align: center;">
                                                              {#<img src="{{ asset("build/images/" ~ invoice.company.logo)}}" alt="company logo" width="150px" height="150px" />#}
                                                              <img
                                                                src="{{ invoice.invoice.company.logo }}"
                                                                alt="company logo"
                                                                width="150px"
                                                                height="150px"
                                                              />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding:0 0 32px 0; font-weight:400;color:#1d1d1b;font-size: 14px;text-align:left"> 
                                                                Bonjour {{ invoice.customer.fullname }} <br />
                                                                  <br />
                                                                  Vous trouverez ci-joint
                                                                  {{ invoice.type == "Devis" ? "le devis fait " : "la facture faite" }} le
                                                                  {{ invoice.createdAt|date('d/m/Y') }} .<br />
                                                                  {% if invoice.type == "Devis" %} Vous avez jusqu'au
                                                                  {{ invoice.closingDate|date('d/m/Y') }} pour <a href="{{ url }}" class="specific-font" style="text-decoration: underline;color: #2222d9;">valider le devis</a>
                                                                  
                                                                  {% else %} Vous avez jusqu'au {{ invoice.closingDate|date('d/m/Y') }} pour
                                                                  régler la facture <br />
                                                                  {% endif %} Montant total : {{ invoice.total }}€<br />
                                                                  Merci pour votre confiance,<br />
                                                                  {% if invoice.customer.company.name != null %}
                                                                  {{ invoice.customer.company.name }}
                                                                  {% endif %}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <p style="font-weight:400;font-size:14px;color:#70706d;padding-top:32px">
                                                                          Merci pour votre confiance,<br />
                                                                          {% if invoice.customer.company.name != null %}
                                                                            {{ invoice.customer.company.name }}
                                                                          {% endif %}
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <!-- END Content -->


                                <!-- START Footer -->
                                <tr>
                                    <td>
                                        <table style="margin:0 auto;padding:0 0 60px">
                                            <tbody>
                                            <tr>
                                                <td style="padding:0 0 33px;font-size:12px;color:#70706d;text-align: center">
                                                    <span class="specific-font">En cas de problème, n'hésitez pas à nous contactez </span>
                                                    <span>&nbsp;•&nbsp;</span>
                                                    <a href="https://facturo.fr/contact" target="_blank" class="specific-font" style="text-decoration: underline;color: #2222d9;">Page de contact</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <!-- END Footer -->
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
