<style>
  @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
      * {
        font-family: 'Arial', sans-serif;'
    }

    .specific-font {
        font-family: 'Raleway', sans-serif !important;
    }
</style>

<body style="margin: 0;background-color: #1c1c1a;">
<div>
    <div>
        <div>
            <div style="background:#f9f9f7;margin:0;padding:0">
                <table style="background:#f9f9f7;min-width:320px;width: 100%">
                    <tbody>
                    <tr>
                        <td style="padding:0 24px">
                            <table style="max-width:600px;margin:0 auto;">
                                <tbody>
                                <!-- START Header -->
                                <!-- END Header -->

                                <!-- START Content -->
                                <tr style="margin-bottom: 30px;">
                                    <td style="background:#fff;padding:44px 64px 57px;border:1px solid #dcdcd9;border-radius:8px">
                                        <table style="max-width:472px;margin:0 auto;text-align: center">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                                <h1 style="font-weight:400;color:#1d1d1b;font-size:24px;margin-bottom:20px">
                                                                    Relance concernant {{ invoice.type == "Devis" ? "la validation du devis" : "la paiement de la facture" }}
                                                                </h1>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding:0 0 32px 0;text-align: center;">
                                                              {#<img src="{{ asset("build/images/" ~ invoice.company.logo)}}" alt="company logo" width="150px" height="150px" />#}
                                                              <img
                                                                src="{{ invoice.invoice.company.logo }}"
                                                                alt="company logo"
                                                                width="150px"
                                                                height="150px"
                                                              />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding:0 0 32px 0; font-weight:400;color:#1d1d1b;font-size: 14px;text-align: left;">
                                                                Bonjour {{ invoice.customer.fullname }}, <br />
                                                                <br>
                                                                J'espère que ce courriel vous trouve bien. <br />
                                                                <br>
                                                                Nous vous contactons au sujet {{ invoice.type == "Devis" ? 
                                                                "du devis que vous avez reçu de notre part. Nous constatons que la date limite de validation est désormais dépassée." 
                                                                : "de la facture que vous avez reçu de notre part. Nous constatons que la date limite de paiement est désormais dépassée." }}<br />
                                                                <br>
                                                                {% if invoice.type == "Devis" %}
                                                                    Nous comprenons que diverses circonstances peuvent influencer le processus de décision, 
                                                                    et nous sommes tout à fait disposés à discuter de tout ajustement nécessaire. 
                                                                    Cependant, nous devons également souligner l'importance de finaliser ce processus afin de garantir 
                                                                    une planification et une exécution efficaces.<br />
                                                                    <br>
                                                                    Veuillez prendre le temps nécessaire pour examiner les détails du devis et à <a href="{{ url }}" class="specific-font" style="text-decoration: underline;color: #2222d9;">valider le devis</a> 
                                                                    dès que possible. Si des éléments nécessitent une clarification ou si vous avez des préoccupations, n'hésitez 
                                                                    pas à nous en faire part. <br>
                                                                    <br>
                                                                {% else %}
                                                                Nous comprenons que diverses circonstances peuvent influencer le processus de paiement, et nous sommes tout à fait disposés 
                                                                à discuter de tout ajustement nécessaire. Cependant, nous devons souligner l'importance de finaliser ce processus dans les plus brefs 
                                                                délais afin de garantir une gestion efficace de nos ressources et une continuité sans heurts de nos services.<br />
                                                                <br>
                                                                Nous vous prions de bien vouloir prendre le temps nécessaire pour examiner les détails de la facture et de nous faire part de votre intention de règlement dès que possible. 
                                                                Si des éléments nécessitent une clarification ou si vous avez des préoccupations, n'hésitez pas à nous en faire part. <br>
                                                                <br>
                                                                {% endif %}
                                                                Nous sommes conscients des défis que peut représenter ce processus et apprécions votre coopération dans ce dossier.
                                                                <br>
                                                                Nous vous prions d'agréer, {{ invoice.customer.fullname }}, l'expression de nos salutations distinguées. <br>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <p style="font-weight:400;font-size:14px;color:#70706d;padding-top:32px;text-align: left;">
                                                                          Cordialement<br />
                                                                          {% if invoice.customer.company.name != null %}
                                                                            {{ invoice.customer.company.name }}
                                                                          {% endif %}
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <!-- END Content -->


                                <!-- START Footer -->
                                <tr>
                                    <td>
                                        <table style="margin:0 auto;padding:0 0 60px">
                                            <tbody>
                                            <tr>
                                                <td style="padding:0 0 33px;font-size:12px;color:#70706d;text-align: center">
                                                    <span class="specific-font">En cas de problème, n'hésitez pas à nous contactez </span>
                                                    <span>&nbsp;•&nbsp;</span>
                                                    <a href="https://facturo.fr/contact" target="_blank" class="specific-font" style="text-decoration: underline;color: #2222d9;">Page de contact</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <!-- END Footer -->
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
