<style>
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Arial", sans-serif;
  }
  #content {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    text-align: justify;
  }
  #footer {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
</style>

<body>
  {# email header #} {% if invoice.customer.company.logo != null %}

  <img
    src="{{ invoice.invoice.company.logo }}"
    alt="company logo"
    width="150px"
    height="150px"
  />
  {% endif %} {# email text #}
  <section id="content">
    <p>
      Bonjour {{ invoice.customer.fullname }} <br />
      N'oubliez pas que vous avez {{ invoice.type == "Devis" ? "un devis à valider." : "une facture à payer." }}<br />
      Vous trouverez ci-joint votre document.<br />
      {% if invoice.type == "Devis" %} 
      Pour rappel, vous avez jusqu'au {{ invoice.closingDate|date('d/m/Y') }} pour <a href="{{ url }}">accepter le devis</a> <br />
      {% else %} 
      Pour rappel, vous avez jusqu'au {{ invoice.closingDate|date('d/m/Y') }} pour régler la facture <br />
      {% endif %} 
      Merci pour votre confiance,<br />
      {% if invoice.customer.company.name != null %}
      {{ invoice.customer.company.name }}
      {% endif %}
    </p>
  </section>

  {# email footer #}
  <section id="footer">
    <p>Copyright © 2023-2024 Facturo. Tous droits réservés.</p>
  </section>
</body>
