{% extends 'registration/base.html.twig' %}

{% block title %}Création de votre compte Facturo - Étape {{ step.order }}/{{ stepTotal }}{% endblock %}

{% block body %}
    {{ form_errors(registrationForm) }}

    <p class="mt-4 font-bold">Cette étape est optionnelle. Vous pourrez éditer vos informations à tout moment dans votre espace.</p>

    {{ form_start(registrationForm, {
        'attr': {
            'novalidate': 'novalidate',
            'class': 'mt-8 flex flex-col gap-8'
        }
    }) }}

    {{ form_rest(registrationForm) }}

    {% if company is defined %}
        <div class="flex">
            <div class="flex">
                <div class="flex">
                    <span>{{ company.name }}</span>
                    <span>-</span>
                    <span>{{ company.siret }}</span>
                </div>
                <span>{{ company.address }}</span>
            </div>
            ->
        </div>

    {% endif %}

    <button class="w-full flex justify-center items-center gap-1.5 rounded bg-light-dark text-light-white dark:bg-light-dark font-bold h-12">
        Rechercher
    </button>
    <div class="w-full flex justify-center">
        <a href="{{ path(nextStepRoute)}}">
            Passer cette étape
        </a>
    </div>
    {{ form_end(registrationForm) }}
    {# add skip button to avoid form submit #}


{% endblock %}