<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        {{ form_start(form) }}
        <div>
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <div class="sm:col-span-2">
                    {{ form_row(form.firstname, { 'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500'}, 'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'} }) }}
                </div>
                <div class="sm:col-span-2">
                    {{ form_row(form.lastname, { 'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500'}, 'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'} }) }}
                </div>
                <div class="sm:col-span-2">
                    {{ form_row(form.email, { 'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500'}, 'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'} }) }}
                </div>
                <div class="w-full">
                    {{ form_row(form.roles, { 'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500'}, 'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'} }) }}
                </div>
                <div>
                    {{ form_row(form.isVerified, { 'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500'}, 'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'} }) }}
                </div>
            </div>
            <button type="submit" class="inline-flex items-center px-5 text-light-white py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center bg-black bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                {{ button_label|default('Enregistrer') }}
            </button>
        </div>
        {{ form_end(form) }}
    </div>
</section>
